.header {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  overflow: hidden;
  background-color:grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    padding: 8px;
    color: #ffffff;
    .koerber-logo {
      width: 64px !important;
    }
  }

  &-right {
    display: flex;
    float: right;
    color: #ffffff;
    padding: 8px;
    .name {
      padding-right: 15px;
      color: #ffffff;
    }
    .logout {
      cursor: pointer;
      .logout-icon {
        width: 16px !important;
      }
    }
  }
}

body { 
  margin: 8px;
  .post-information {
    padding: 20px;
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-email {
      width: 25%;
    }

    .danger {
      color: #ff0000;
    }
  }

  .gallery {
    margin: 0 -5px;

    &::after {
      display: table;
      clear: both;
    }

    &-posts-column {
      float: left;
      width: 25%;
      padding: 0 10px 20px;
    }

    &-posts-card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
      height: 200px;
      min-height: 200px;
    }
  }
}
