<header>
  <div class="header">
    <div class="header-logo">
      <img class="koerber-logo" src="../../assets/img/koerber-logo.svg" alt="Bootstrap">
    </div>
    <div class="header-right">
      <div class="name">{{ firstName }} {{ lastName }}</div> <!-- maybe this is dynamic -->
      <div class="logout" (click)="logout()">
        <img class="logout-icon" src="../../assets/img/box-arrow-right.svg" alt="Bootstrap">
      </div>
    </div>
  </div>
</header>

<body>
  <div class="post-information">
    <div class="flex">
      <div>
        <h1>Posts List</h1>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="openPostModal()">New Post</button>
      </div>
    </div>
    <div class="post-information-email">
      <div class="input-group mb-3 email-width">
        <input type="email" class="form-control" placeholder="Insert email" [(ngModel)]="email" value="{{ this.dataService.email }}">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="checkEmail()">Submeter</button>
        </div>
      </div>
      <div *ngIf="showEmailErrorMessage"><p class="danger">Invalid e-mail. Please, try again !</p></div>
    </div>
    {{ cacheEmail }}
  </div>

  <!--gallery Posts -->
  <div class="gallery" *ngFor="let post of posts">
    <div class="gallery-posts-column">
      <div class="gallery-posts-card">
        <h3>Post Title</h3>
        <p>{{ post.body }}</p>
      </div>
    </div>
  </div>
</body>