* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color:grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    padding: 8px;
    color: #ffffff;
    .koerber-logo {
      width: 64px !important;
    }
  }

  &-right {
    display: flex;
    float: right;
    color: #ffffff;
    padding: 8px;
    .name {
      padding-right: 15px;
      color: #ffffff;
    }
    .logout {
      cursor: pointer;
      .logout-icon {
        width: 16px !important;
      }
    }
  }
}


.post-information {
  padding: 20px;
  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.danger {
  color: #ff0000;
}